SECRET_KEY=change_me
VITE_TZ=UTC
VITE_LOCALE=en-US
VITE_AUTH_MODE=no
ADMIN_USER=
ADMIN_EMAIL=
ADMIN_PASSWORD=
OIDC_PROVIDER_URL=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
VITE_DOMAIN=
REDIS_URL=redis://pflanzn-redis-1:6379/0
PLANTNET_API_KEY=
PLANTNET_LANGUAGE=en
VITE_LLM_PROVIDER=
LLM_LANGUAGE=german
HUGGINGFACE_API_KEY=
HUGGINGFACE_MODEL_NAME=
MISTRALAI_API_KEY=
MISTRALAI_API_URL=
MISTRALAI_MODEL_NAME=
OPENAI_API_KEY=
OPENAI_MODEL_NAME=
CLAUDE_API_KEY=
CLAUDE_MODEL_NAME=
OLLAMA_URL=
OLLAMA_MODEL_NAME=
DB_HOST=pflanzn-mariadb-1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=***REDACTED***
DB_ROOT_PASSWORD=
DB_NAME=plants_db