.about-container {
    text-align: left;
    background-color: var(--secondary-background-color);
    min-height: 75vh;
}

.about-content {
    max-width: 1200px;
}

.about-content h1 {
    font-weight: bold;
    margin-bottom: 20px;
    margin: 0;
}

.about-content p {
    margin-bottom: 20px;
    text-align: justify;
}

hr {
    margin: 2rem 0 2rem 0;
}

.about-features h2 {
    margin: 0;
    margin-bottom: 10px;
}

.about-features ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.about-features li {
    line-height: 1.5;
}

.about-features {
    margin-top: 1.5rem;
}

.about-features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1.5rem;
}

@media (max-width: 768px) {
    .about-features-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

.about-feature-card {
    background-color: var(--secondary-background-color);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.about-feature-card:hover {
    transform: translateY(-5px);
}

.about-feature-card strong {
    font-size: 1.2rem;
    display: flex;
}

.about-feature-card p {
    font-size: 1rem;
    line-height: 1.4;
}

.about-feature-icon {
    display: flex;
    align-items: center;
    border-left: 4px solid var(--secondary-color);
    gap: 0.75rem;
    padding-left: 0.5rem;
}

.about-feature-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}