/* Footer */
footer {
  width: 100%;
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.footer-logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 2rem;
}

.footer-logo img {
  width: 50px;
  height: 50px;
}

.footer-logo h1 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-column h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 0.75rem;
  color: #ffffff;
}

.footer-column a {
  text-decoration: none;
  color: var(--septimal-color);
  font-size: 0.875rem;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #ffffff;
}

/* Mobile-friendly */
@media (max-width: 768px) {
  footer {
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem;
  }

  .footer-columns {
      gap: 5rem;
      width: 100%;
  }
}  

.si-icon {
color: #ffffff;
width: 14px;
height: 14px;
margin-right: 1rem;
}