/* Home Page */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-background-color);
    min-height: 80vh;
}
  
.home-content {
    max-width: 800px;
}
  
.home-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
  
.home-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.carousel-container {
    margin: 20px auto;
    max-width: 1140px;
    text-align: center;
}

@media (max-width: 768px) {
  .carousel-container {
    max-width: 300px;
  }
  .species-wordcloud{
    width: 100px;
  }
  .slick-slide {
    width: 300px !important;
  }
  .home-plant-image {
    height: 600px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .carousel-container {
    max-width: 900px;
  }
  .species-wordcloud{
    width: 200px;
  }
  .slick-slide {
    width: 300px !important;
  }
  .home-plant-image {
    height: 400px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .carousel-container {
    max-width: 1000px;
  }
  .species-wordcloud{
    width: 300px;
  }
  .slick-slide {
    width: 334px !important;
  }
  .home-plant-image {
    height: 300px;
  }
}

.home-plant-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.slick-track {
  width: 5000px !important;
}

.species-wordcloud {
  margin-top: 1rem;
  width: 100%;
  max-width: 1000px;
  color: var(--text-color);
  text-align: center;
}

.wordcloud {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.wordcloud-item {
  white-space: nowrap;
  cursor: default;
  padding: 5px 10px;
  border-radius: 4px;
  transition: transform 0.2s ease;
}

.wordcloud-item:hover {
  transform: scale(1.2);
  z-index: 1;
}

.plant-slide:focus,
.plant-slide:focus-visible {
    outline: none;
}