.plant-container {
    text-align: center;
    background-color: var(--secondary-background-color);
    position: relative;
}

.plant-container h2 {
    margin-top: 0px;
}

.plant-container h5 {
    margin: 0px;
}

.plant-information {
    text-align: left !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.delete-plant-btn {
    position: absolute;
    bottom: 25px;
    right: 25px;
    margin: 5px;
    background-color: var(--tertiary-color);
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.delete-plant-btn:hover {
    background-color: var(--quaternary-color);
}  

span {
    margin: 3px 0;
}